html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    background: #333;
    margin: 0px;
    padding: 0px;
}

.video-container {
    width: 100%;
    background: #000;
    height: 200px;
}

.transparent {
    background: transparent;
}

.video-container iframe {
    position: absolute;
}

md-tabs {
    height: 350px;
}